* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
dl,
ol,
li,
ul {
    list-style: none;
}
button,
textarea,
select,
input {
    display: block;
    background: transparent;
    border: none;
    outline: none;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border: 0;
}
b,
em,
i {
    font-style: normal;
}
a {
    display: block;
    text-decoration: none;
    outline: 0;
    transition: all 0.2s;
    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.hide {
    display: none;
}

.show {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.is-center {
    text-align: center;
}

.is-left {
    text-align: left;
}

.is-right {
    text-align: right;
}
.bold {
    font-weight: bold;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
